
<nav
  class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button"
  style="
    background: #001932;
    border-radius: 20;
    border-top-left-radius: 20;
    border-top-right-radius: 20;
    border-bottom-right-radius: 20;
    border-bottom-left-radius: 20;
    border-style: none;
    padding-top: 0;
    padding-bottom: 10px;
  "
>
  <div class="container">
    <button
      data-bs-toggle="collapse"
      class="navbar-toggler"
      data-bs-target="#navcol-1"
    >
      <span class="visually-hidden">Toggle navigation</span
      ><span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <a class="navbar-brand" href="#"
        ><span
          data-bss-hover-animate="flash"
          style="
            font-family: Almarai, sans-serif;
            font-size: 25px;
            color: rgba(69, 111, 194, 0.9);
            font-weight: bold;
          "
          >CRICVIZ</span
        >
      </a>
    </div>
    <div
      class="collapse navbar-collapse text-center"
      data-aos="fade"
      data-aos-once="true"
      id="navcol-1"
      style="color: rgb(255, 255, 255)"
    >
      <ul class="navbar-nav mx-auto nav-right">
        <li class="nav-item" style="padding-right: 20px">
          <a
            class="nav-link active"
            href="{% url 'home' %}"
            style="color: rgba(224, 217, 217, 0.9)"
            >Home
          </a>
        </li>
        <li class="nav-item" style="padding-right: 21px">
          <a
            class="nav-link"
            href="about.html"
            style="color: rgba(224, 217, 217, 0.9)"
            >Live Score</a
          >
        </li>
        <li class="nav-item" style="padding-right: 20px">
          <a
            class="nav-link"
            href="faq.html"
            style="color: rgba(224, 217, 217, 0.9)"
            >Analysis</a
          >
        </li>
        <li class="nav-item" style="padding-right: 20px">
          <a
            class="nav-link"
            href="faq.html"
            style="color: rgba(224, 217, 217, 0.9)"
            >Player</a
          >
        </li>
        <li class="nav-item" style="padding-right: 20px">
          <a
            class="nav-link"
            href="faq.html"
            style="color: rgba(224, 217, 217, 0.9)"
            >Match</a
          >
        </li>
      </ul>
      <!-- Start: Actions -->
      <p class="ms-auto navbar-text actions">
        <a
          class="login"
          href="{% url 'login' %}"
          style="color: rgba(224, 217, 217, 0.9); margin-right: 20px"
          >Log In</a
        >
        <a
          class="btn btn-light action-button"
          role="button"
          href="{% url 'signup' %}"
          style="
            color: rgba(0, 0, 0, 0.9);
            background: var(--bs-gray-200);
            border-radius: 10px;
            border-style: solid;
            border-color: rgba(0, 0, 0, 0.9);
            font-size: 16px;
            padding: 5px 8px;
          "
          >Sign Up</a
        >
      </p>
      <!-- End: Actions -->
    </div>
  </div>
</nav>
